.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.hamburger-icon-left,
.hamburger-icon-right {
  cursor: pointer;
}

.video-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.active-tab {
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* Change text color for active tab */
}
