nav {
  height: 4rem;
  background-color: black;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: 300px;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  color: white;
}
