nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 90px;
}
nav h1 {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  font-family: cursive;
}

.menu {
  display: flex;
  width: 550px;
  height: 30px;
  justify-content: space-between;
  list-style: none;
  margin-top: 35px;
  margin-right: 70px;
}

.menu li {
  color: white;
  font-size: 20px;
}

.menu li:hover {
  border-bottom: 3px solid red;

  cursor: pointer;
}
